# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.vcxproj
*.editorconfig
*.tmp*
.tmp/
ScriptNames.txt
update.bat

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
GoopEngine/Editor/.tmpscn
GoopEngine/Editor/.tmp
GoopEngine/GoopScripts/GoopScripts.dll
*.pdb
/GoopEngine/Editor/Assets/config.cfg
/GoopEngine/Editor/.tmp.tmpscn0
/GoopEngine/Editor/Assets/Scripts/GoopScripts.dll
/GoopEngine/Editor/Assets/DVD_VIDEO.png
/GoopEngine/Editor/Assets/Scenes/DVD_VIDEO.scn
